<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Http headers and token info </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script >
        $( document ).ready(function() {
            $("#refresh").click(function(){
                let refreshUrl = "/.auth/refresh";
                $.ajax(refreshUrl) .done(function() {
                    console.log("Token refresh completed successfully.");
                }) .fail(function() {
                    console.log("Token refresh failed. See application logs for details.");
                });
            });
        });
    </script>
</head>
<body style="font-family: Comic Sans MS, cursive, sans-serif; margin-left: 2%;margin-top: 5%;margin-right: 2%;;background-color:lightgoldenrodyellow; ;">
   
    {%  if(objects.has_exception)    %}
    <h1> Exception  :  </h1> <br>   
    {{ objects.app_info.Exception }}
    {% else %}
        
        <h2> User Information :  </h2>  
        <table border="1">
        {% for key, value in objects.user_info.items() %}
        <tr>
            <td nowrap style="text-align: center"> {{key}} </td>
            <td style="max-width:1100px;word-break:break-all;">{{value}}<br></td>
        </tr>            
        {% endfor %}
        </table>

        <table border="1">
        <h2> Application Details :  </h2> 
        {% for key, value in objects.app_info.items() %}
            <tr>
            <td nowrap style="text-align: center"> {{key}} </td>
            <td style="max-width:1100px;word-break:break-all;">{{value}}<br></td>
            </tr>            
        {% endfor %}
        </table>

        <table border="1">
        <h2> Token Information :  </h2> 
        {% for key, value in objects.token_info.items() %}
        <tr>
            <td nowrap style="text-align: center"> {{key}} </td>
            <td style="max-width:1100px;word-break:break-all;">{{value}}<br></td>
        </tr> 
        {% endfor %}
        </table>

        <form action="" method="post">
            <div class="input submit">
                <input type="submit" value="Refresh Tokens (server side code)">
            </div> 
        </form>

        <button id="refresh" type="button">Refresh Tokens using JS</button>  
        
    {% endif %}

    <p><strong> Additional References:  </strong></p>
    <ol>
    <li><a href="https://docs.microsoft.com/en-us/azure/app-service/overview-authentication-authorization" target="_blank" rel="noopener">Authentication and Authorization in App Services</a></li>
    <li><a href="https://docs.microsoft.com/en-us/azure/app-service/app-service-authentication-how-to" target="_blank" rel="noopener">Advanced usage of EasyAuth</a>&nbsp;</li>
    <li><a href="https://cgillum.tech/" target="_blank" rel="noopener">Chris Gillum's Blog&nbsp;on EasyAuth</a></li>
    <li><a href="https://azure.microsoft.com/en-us/blog/announcing-app-service-authentication-authorization/" target="_blank" rel="noopener">Expanding App Service Authentication by&nbsp;Matthew Henderson</a></li>
    <li><a href="https://blogs.msdn.microsoft.com/kaushal/2016/04/01/azure-web-apps-how-to-retrieve-user-email-in-the-claim-when-using-microsoft-account-as-a-provider-in-easy-auth/" target="_blank" rel="noopener">Retrieving user's email address from claims by Kaushal</a></li>
    <li><a href="http://jsandersblog.azurewebsites.net/2020/01/17/easy-auth-using-x-ms-token-aad-access-token-as-a-bearer-token/" target="_blank" rel="noopener">Using Access Token as Bearer tokens by Jeff Sanders</a></li>
    <li><a href="https://techcommunity.microsoft.com/t5/azure-app-service/azure-app-service-easyauth-and-azure-active-directory-flows/ba-p/1099890" target="_blank" rel="noopener">Azure EasyAuth and Azure Active directory Flows by Vijay Saayi R</a></li>
    </ol>

</body>
</html>